Source: php5-easybib-zip
Maintainer: Till Klampaeckel <till@php.net>
Build-Depends: libevent-dev, bison, re2c, libtool, help2man, autoconf, automake, debhelper, php5-easybib, libicu-dev
Section: php
Priority: optional
Homepage: http://pecl.php.net/package/zip
Standards-Version: 3.0.0

Package: php5-easybib-zip
Architecture: any
Conflicts: php5-zip
Provides: php5-zip
Depends: ${misc:Depends}, sed (>= 4.1.1-1), php5-easybib, libicu42 | libicu48
Description: ext/zip
