Source: php5-easybib-pyrus
Maintainer: Till Klampaeckel <till@php.net>
Build-Depends: debhelper, php5-easybib
Homepage: http://pear2.php.net/
Section: php
Priority: optional
Standards-Version: 3.8.4 

Package: php5-easybib-pyrus
Architecture: any
Conflicts: php-pear
Provides: php-pear
Depends: ${misc:Depends}, sed (>= 4.1.1-1), php5-easybib
Description: This package provides PEAR2's pyrus. The next generation package manager.
 Pyrus is a tool to manage PEAR packages. Pyrus simplifies and improves the PEAR
 experience. Please check out <http://pear2.php.net> and <http://pyrus.net> for more
 information.
