Source: php5-easybib-apc
Maintainer: Florian Holzhauer <fh-ubuntu@fholzhauer.de> 
Build-Depends: libevent-dev, bison, re2c, libtool, help2man, autoconf, automake, debhelper, php5-easybib
Homepage: http://www.php.net/
Section: php
Priority: optional
Standards-Version: 3.8.3 

Package: php5-easybib-apc
Architecture: any
Conflicts: php5-apc
Provides: php5-apc
Depends: ${misc:Depends}, sed (>= 4.1.1-1), php5-easybib
Description: This package provides ext/apc.so - 3.1.9
