Source: php5-easybib-poppler-pdf
Maintainer: Till Klampaeckel <till@php.net>
Build-Depends: libevent-dev, bison, re2c, libtool, help2man, autoconf, automake, debhelper, php5-easybib, libpoppler-glib-dev
Section: php
Priority: optional
Homepage: https://github.com/easybiblabs/php-poppler-pdf
Standards-Version: 3.0.0

Package: php5-easybib-poppler-pdf
Architecture: any
Conflicts: php5-poppler-pdf
Provides: php5-poppler-pdf
Depends: ${misc:Depends}, sed (>= 4.1.1-1), php5-easybib, pkg-config, libpoppler-glib-dev, libpoppler-dev
Description: https://github.com/easybiblabs/php-poppler-pdf
