Source: php5-easybib-enchant
Maintainer: Ulf Härnhammar <ulfharn@gmail.com>
Build-Depends: libevent-dev, bison, re2c, libtool, help2man, autoconf, automake, debhelper, php5-easybib, libenchant1c2a, libenchant-dev, libglib2.0-dev
Section: php
Priority: optional
Homepage: http://pecl.php.net/package/enchant
Standards-Version: 3.8.3

Package: php5-easybib-enchant
Architecture: any
Conflicts: php5-enchant
Provides: php5-enchant
Depends: ${misc:Depends}, sed (>= 4.1.1-1), php5-easybib, libenchant1c2a
Description: libenchant binder, support near all spelling tools
 Enchant is a binder for libenchant. Libenchant provides a common
 API for many spell libraries:
 - aspell/pspell (intended to replace ispell)
 - hspell (hebrew)
 - ispell
 - myspell/hunspell (OpenOffice project, mozilla)
 - uspell (primarily Yiddish, Hebrew, and Eastern European languages)
 A plugin system allows to add custom spell support.

