Source: gearmand-easybib
Section: misc
Priority: optional
Maintainer: Florian Holzhauer <fh-launchpadpackages@fholzhauer.de>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libevent-dev, uuid-dev, libboost-dev, libboost-program-options-dev, libboost-thread-dev, libboost-all-dev, gperf, libcloog-ppl0
Standards-Version: 3.9.3
Homepage: http://gearman.org/

Package: gearmand-easybib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: gearmand, gearman-job-server, libgearman4, libgearman6, libgearman7
Provides: gearmand, gearman-job-server, libgearman4, libgearman6, libgearman7
Pre-Depends: adduser
Description: a distributed job queue
 Includes libgearman!
 Gearman provides a generic application framework to farm out work to other machines or processes that are better suited to do the work.
 It allows you to do work in parallel, to load balance processing, and to call functions between languages. It can be used in a variety
 of applications, from high-availability web sites to the transport of database replication events. In other words, it is the nervous
 system for how distributed processing communicates.
