#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PACKAGE_NAME=php5-easybib-pdo-sqlite
PHP_PREFIX=/usr/local
MODULE_NAME=pdo_sqlite
SOURCE_DIR=.
EXTDIR=$(shell $(PHPCONFIG) --extension-dir)
INIDIR=$(PHP_PREFIX)/etc/php

CONFIG_OPTS=--with-config-file-path=$(PHP_PREFIX)/etc \
	    --with-config-file-scan-dir=$(PHP_PREFIX)/etc/php \
	    --prefix=$(PHP_PREFIX) \
	    --disable-all --enable-pdo=shared \
	    --with-sqlite3 --with-pdo-sqlite=shared

DEB_HOST_GNU_TYPE    ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_ARCH   ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)


COMMON_CONFIG=--build=$(DEB_BUILD_GNU_TYPE) \
		--host=$(DEB_HOST_GNU_TYPE) 

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O2
else
  CFLAGS += -O0
endif
CFLAGS += -Wall -fsigned-char -fno-strict-aliasing
# LFS support
ifneq (yes,$(PHP5_COMPAT))
  CFLAGS += $(shell getconf LFS_CFLAGS)
endif

# Enable IEEE-conformant floating point math on alphas (not the default)
ifeq (alpha-linux-gnu,$(DEB_HOST_GNU_TYPE))
  CFLAGS += -mieee
endif

ifeq ($(DEB_HOST_GNU_TYPE), $(findstring $(DEB_HOST_GNU_TYPE), ia64-linux-gnu powerpc64-linux-gnu avr32-linux-gnu))
  CFLAGS += -g
else
  CFLAGS += -gstabs
endif

MAKEFLAGS += -j2

prefix=$(PHP_PREFIX)

override_dh_auto_configure:
	CFLAGS="$(CFLAGS)" ./configure $(COMMON_CONFIG) $(CONFIG_OPTS) 

override_dh_auto_install:
	(cd $(SOURCE_DIR); \
	mkdir -p $(CURDIR)/debian/tmp/modules; \
	ls -laR $(CURDIR)/modules/; \
	cp $(CURDIR)/modules/* $(CURDIR)/debian/tmp/modules)
	touch $(SOURCE_DIR)/TODO
	touch $(SOURCE_DIR)/CHANGELOG
	touch build_stamp
	mkdir -p $(CURDIR)/debian/$(PACKAGE_NAME)/$(EXT_DIR)
	install -m 644 -o root -g root $(CURDIR)/debian/tmp/modules/$(MODULE_NAME).so debian/$(PACKAGE_NAME)/$(EXT_DIR)/$(MODULE_NAME).so
	mkdir -p $(CURDIR)/debian/$(PACKAGE_NAME)/$(INIDIR)
	echo "extension=$(MODULE_NAME).so" > $(CURDIR)/debian/$(PACKAGE_NAME)/$(INIDIR)/$(MODULE_NAME).ini

clean:
	dh_clean
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf tmp
	rm -rf debian/$(PACKAGE_NAME)


override_dh_auto_test:
	#noop
override_dh_usrlocal:
	#noop

%:
	dh $@
