#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PHP_USER=www-data
PHP_GROUP=www-data
PHP_PREFIX=/usr/local

PHP_OPTS=--with-config-file-path=$(PHP_PREFIX)/etc\
  --with-config-file-scan-dir=$(PHP_PREFIX)/etc/php\
  --prefix=$(PHP_PREFIX)\
  --with-pear=$(PHP_PREFIX)/pear

PHP_EXTS=--enable-sockets\
  --enable-soap\
  --with-openssl\
  --enable-posix\
  --without-sqlite\
  --without-sqlite3\
  --with-mysqli=mysqlnd\
  --disable-phar\
  --enable-pcntl\
  --with-curl\
  --with-tidy \
  --enable-pdo \
  --with-pdo-mysql \
  --without-pdo-sqlite \
  --enable-mbstring
PHP_FPM=--enable-fpm\
  --with-fpm-user=$(PHP_USER)\
  --with-fpm-group=$(PHP_GROUP)

DEB_HOST_GNU_TYPE    ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_ARCH   ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)


COMMON_CONFIG=--build=$(DEB_BUILD_GNU_TYPE) \
		--host=$(DEB_HOST_GNU_TYPE) 

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O2
else
  CFLAGS += -O0
endif
CFLAGS += -Wall -fsigned-char -fno-strict-aliasing
# LFS support
ifneq (yes,$(PHP5_COMPAT))
  CFLAGS += $(shell getconf LFS_CFLAGS)
endif

# Enable IEEE-conformant floating point math on alphas (not the default)
ifeq (alpha-linux-gnu,$(DEB_HOST_GNU_TYPE))
  CFLAGS += -mieee
endif

ifeq ($(DEB_HOST_GNU_TYPE), $(findstring $(DEB_HOST_GNU_TYPE), ia64-linux-gnu powerpc64-linux-gnu avr32-linux-gnu))
  CFLAGS += -g
else
  CFLAGS += -gstabs
endif

MAKEFLAGS += -j2

prefix=$(PHP_PREFIX)

override_dh_auto_configure:
	CFLAGS="$(CFLAGS)" ./configure $(COMMON_CONFIG) $(PHP_OPTS) $(PHP_EXTS) $(PHP_FPM)

override_dh_auto_install:
	CFLAGS="$(CFLAGS)" $(MAKE) install INSTALL_ROOT=$(CURDIR)/debian/php5-easybib
override_dh_auto_test:
	#noop
override_dh_usrlocal:
	#noop

%:
	dh $@
