Source: php5-easybib-mysqlnd-uh
Maintainer: Ulf Härnhammar <ulfharn@gmail.com>
Build-Depends: libevent-dev, bison, re2c, libtool, help2man, autoconf, automake, debhelper, php5-easybib
Section: php
Priority: optional
Homepage: http://pecl.php.net/package/mysqlnd_uh
Standards-Version: 3.8.3

Package: php5-easybib-mysqlnd-uh
Architecture: any
Conflicts: php5-mysqlnd-uh
Provides: php5-mysqlnd-uh
Depends: ${misc:Depends}, sed (>= 4.1.1-1), php5-easybib
Description: MySQLnd Userland Handler
 MySQLnd Userland Handler let you specify a userland handler for all
 mysqlnd connections.
